*{
    margin: 0;
    max-width: 100%;
}
body,main{
    background-color: #FBFBFF;
    min-height: 100vh;
}
button{
    background-color: #20BF55;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
   
}
button:hover{
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
button:hover img{
    width: 275px;
    height: 175px;
}
.result-window{
    border: 2px solid black;
}
p{
    font-size: 3rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}
.scoretab{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 250px;
    height: 150px;
}
